@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Space Grotesk", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --animate-spin-slow: spin 16s linear infinite;
}

/* Custom modern cyber scrollbar modifications */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #14b8a6;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #030712;
  user-select: none;
}
